body {
  font-family: Helvetica, Arial, sans-serif ;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 3vw 15vw;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 14px;
  margin: 15px;
}

button {
  display: flex;
  justify-content: center;
  width: 115px;
  background-color: rgb(240, 237, 237);
  border: 1px solid orange;
  font-size: 1vw;
  padding: 4px;
}

.text, .displayComputerChoice, .results {
  display: flex;
  text-align: left;
  font-size: 2vw;
  margin: 15px;
}

.results {
  background-color: rgb(240, 237, 237);
  gap: 8px;
  font-size: 2vw;
}